<navbar></navbar>

<div class="container-fluid">
    <h1 class="mt-2">Home</h1>

    <div class="card mt-2">
        <div class="card-body lead">
          Hallo und willkommen zum DukeKiosk webinterface!
          In der Zukunft sind hier Informationen über bisherige Kundenaktivitäten angedacht.
          Aktuell gibt es eine kurze Einführung darüber, was auf welcher Seite zu finden ist.
        </div>
    </div>

    <h3 class="mt-4">Administratoransichten</h3>

    <h4 class="mt-2"><a routerLink="/products">Produkte</a></h4>
    Erstelle oder bearbeite Produkte. Verwalte Preise, Barcodes, usw.

    <h4 class="mt-2"><a routerLink="/users">Kunden</a></h4>
    Erstell oder bearbeite Benutzer, Verawalte Namen, ID barcodes, usw.

    <h3 class="mt-4">Mitarbeiteransichten</h3>

    <h4 class="mt-2"><a routerLink="/sales-point">Verkaufsstation</a></h4>
    Diese Ansicht kann von einem Mitarbeiter genutzt werden, um Kunden-checkouts zu verwalten.
    Sollte mit einem barcode scanner verwendet werden.

    <h4 class="mt-2"><a routerLink="/cash-point">Kassenstation</a></h4>
    This view can be used by a kiosk employee to handle customer payments.
    Sollte mit einem barcode scanner verwendet werden.

    <h3 class="mt-4">Kundenansichten</h3>

    <h4 class="mt-2"><a routerLink="/self-service-point">Selbstbedienungsstation</a></h4>
    Diese Ansicht kann auf einem kiosk terminal angezeigt werden.
    Kunden können hier ihre Produkte selbstständig eingeben.
    Diese Ansicht hat eine begrenzte Funktionalität und ein anderes Nutzerinterface.
    Sollte mit einem barcode scanner verwendet werden.
</div>
