<div style="height: 100vh;">
  <mat-horizontal-stepper #matStepper [linear]="isLinear" style="height:100%; margin-bottom: 1em;">
    <mat-step [stepControl]="firstFormGroup">
      <form #firstForm="ngForm" [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Scanne deine ID</ng-template>
        <div> <!--*ngIf="mode ==0">-->
          <h2 class="md-display-1 text-center">
            Moin, scanne deine&nbsp;
            <mat-form-field>
              <input autofocus
                     (change)="identifier_dirty=true; firstForm.form.markAsDirty();userInput.select();userInput.focus();"
                     #userInput matInput [value]="identifier_input" placeholder="ID" formControlName="firstCtrl"
                     required>
            </mat-form-field>
            , um zu beginnen.
          </h2>
        </div>
        <div *ngIf="mode>0" align="center">
          <h3 *ngIf="mode ==1" class="subheading-1">  <!-- caption -->
            Moin <span *ngIf="mode == 1">{{user.name}} </span>&emsp;
            <span *ngIf="mode == 1">Guthaben: {{ user.balance / 100 | currency:'EUR':true:'1.2-2' }}</span>
          </h3>
        </div>
        <br>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Scanne deine Produkte</ng-template>
        <div>

          <div>
            <table class="mdl-data-table" align="center">
              <thead>
              <tr>
                <th>Produkt</th>
                <th>Stückpreis</th>
                <th>Anzahl</th>
                <th>Gesamtpreis</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of cart.cart_items">
                <td>{{ item.product_name }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ item.unit_price / 100 | currency:'EUR':true:'1.2-2' }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{ item.quantity }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{item.totalPrice() / 100 | currency:'EUR':true:'1.2-2'}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <nav class="navbar fixed-bottom" style="z-index:999;">
          <button mat-button (click)="abort()" color="warn">Abbrechen</button>
          <div align="center">
            <h3 *ngIf="mode ==1" class="subheading-1">  <!-- caption -->
              Moin <span *ngIf="mode == 1">{{user.name}} </span>&emsp;
              <span *ngIf="mode == 1">Guthaben: {{ user.balance / 100 | currency:'EUR':true:'1.2-2' }}</span>
            </h3>
          </div>
          <button mat-raised-button (click)="payCart()" color="primary" style="float: right;">Kaufen</button>
        </nav>

      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">>
      <ng-template matStepLabel>Kauf abschließen</ng-template>
      <div *ngIf="mode == 2">
        <h1 class="md-display-2 text-center">Vielen Dank!</h1>
        <h2 class="md-display-1 text-center">Dein neuer Kontostand: {{ user.balance / 100 | currency:'EUR':true:'1.2-2'
          }}</h2>
        <div *ngIf="fun" class="text-center">
          <img class="rounded" style="max-width: 50vw; max-height: 30vh" src="assets/fun/{{ getRandomInt(1, 11) }}.gif">
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
