<!-- TODO: testen ob noch alles sauber läuft -->
<div class="container-fluid">
  <h1 class="mt-2"> Kunden importieren</h1>

  <mat-card>
    <h2 class="title">CSV Datei importieren</h2>
    <p>Kunden können aus einer CSV-formatieren Datei importiert werden. Eine solche kann beispielsweise mit
      Libreofficde/Openoffice Calc oder Microsoft Excel erstellt werden.
      Die importierte Datei hat ein spezifisches Format, welches unten angezeigt wird.
      Nachdem eine Datei gewählt wurde wird dir eine Vorschau des Dateiinhalts angezeigt.
      Bitte prüfe diese Ansicht sorgsam! Wenn alles wie erwartet aussieht kannst du den Importierungsprozess beginnen,
      in dem du auf den "Import starten" Knopf drückst.
      Bitte nimm zur Kenntnis, dass der Vorgang abhängig von der Netzwerkverbindung und der Anzahl der importierten
      Nutzer einige Zeit in Anspruch nehmen kann.</p>
    <p><b>Beispiel CSV Datei:</b></p>
    <pre><code>
"TestUser 123",0,"tag_a tag_b","12345"
"TestUser 456",1,"tag_c","67890"
 </code></pre>
    <p><b>Erklärung des Formats:</b></p>
    <ul>
      <li>Kundenname (erste Spalte): Der gewünschte Name des Kunden</li>
      <li>Negatives Saldo erlauben (zweite Spalte): 0 = Prepaid user, 1 = Postpaid user</li>
      <li>Tags (dritte Spalte): Jegliche Tags, die auf den Kunden angewendet werden sollen. Mehrere Tags können mit
        Leerzeichen getrennt werden.
      </li>
      <li>Barcode (vierte Spalte): Der Barcode, welcher dem Kunden zugeordnet ist. Bitte beachte, dass der Barcode, um
        Problemen vorzubeugen, immer ein String-Wert sein sollte, beispielsweise mit vorangehenden Nullern.
      </li>
    </ul>
    <div>
      <button mat-button (click)="abortImport()" color="warn">Import abbrechen</button>
      <div style="float: right;">
        <input type="file" (change)="fileEventListener($event)">
        <button mat-raised-button (click)="confirmImport()" color="primary">Import starten</button>
      </div>
    </div>
  </mat-card>
  <mat-card *ngIf="importableUsers.length > 0">
    <div>
      <div class="progress mt-2">
        <div class="progress-bar" [style.width]="importProgress + '%'"></div>
      </div>
      <table class="table table-bordered mt-2">
        <thead>
        <tr>
          <th class="text-center w-25">Kundenname</th>
          <th class="text-center w-25">Negatives Saldo</th>
          <th class="text-center w-25">Tags</th>
          <th class="text-center w-25">Barcode</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of importableUsers">
          <td>
            {{ item.name }}
            <span *ngIf="item.import_success" class="badge badge-success">Import OK</span>
            <span *ngIf="item.import_fail" class="badge badge-danger">Import Fehlgeschlagen</span>
          </td>
          <td>
            <span *ngIf="item.allow_negative_balance" class="badge badge-success">Negatives Saldo erlaubt</span>
            <span *ngIf="!item.allow_negative_balance" class="badge badge-danger">Negatives Saldo verboten</span>
          </td>
          <td>
            <span *ngFor="let tag of item.tags" class="badge badge-secondary mr-1">{{ tag.name }}</span>
          </td>
          <td>{{ item.identifiers[0].code }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>
